{% extends 'base.html' %}
{% load widget_tweaks %}
{% load partials %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="flex min-h-screen items-center justify-center bg-base-200">
        <div class="m-4 min-h-[50vh] w-full max-w-sm lg:max-w-4xl">
            <!-- Logo -->
            <div class="flex items-center justify-center gap-2 p-8">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 1024 1024"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
                    <circle cx="512" cy="353.28" r="256" class="fill-base-content" />
                    <circle
                        cx="512"
                        cy="353.28"
                        r="261"
                        stroke="black"
                        stroke-opacity="0.2"
                        stroke-width="10" />
                    <circle cx="512" cy="353.28" r="114.688" class="fill-base-200" />
                </svg>
                <h1 class="text-lg font-bold">{% trans "Password Reset" %}</h1>
            </div>
            <!-- /Logo -->
            <main class="grid bg-base-100 lg:aspect-[2/1] lg:grid-cols-2">
                <!-- Image -->
                <figure class="pointer-events-none bg-base-300 object-cover max-lg:hidden">
                    <img src="{% static 'logos/logo.png' %}" alt="{% trans 'Password Reset' %}" class="h-full">
                </figure>
                <!-- /Image -->
                <!-- Password Reset Done Message -->
                <div class="flex flex-col justify-center gap-4 px-10 py-10 lg:px-16">
                    <!-- Success Alert -->
                    <div class="alert alert-success text-xs">
                        {% trans "We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes." %}
                    </div>
                    
                    <!-- Back to Login Button -->
                    <a href="{% url 'account_login' %}" class="btn btn-neutral mt-4">
                        {% trans "Back to Login" %}
                    </a>
                    
                    <!-- Optional: Additional Information -->
                    <p class="text-xs text-center text-gray-500 mt-2">
                        {% trans "If you encounter any issues, feel free to reach out to our support team." %}
                    </p>
                </div>
                <!-- /Password Reset Done Message -->
            </main>
        </div>
    </div>
{% endblock content %}
